<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg blue-grey white">
    <!-- Navbar brand -->
    <mdb-navbar-brand style="margin-right:5%;"> 
	<span style="text-align: right; font-weight: bold; font-size: 110%">Rabobank</span>
	</mdb-navbar-brand>
	
    <links class="marginl10">        
		<ul class="navbar-nav ml-auto" style="font-size:13px !important;">					
			<li class="nav-item">
				<a class="nav-link waves-light">Current user: Anonymous</a>
			 </li>		 
		</ul>		
    </links>
</mdb-navbar>
<div class="container">
	<router-outlet></router-outlet>
</div>



