<div class="card" style="position: relative;margin-top: 1.5rem;margin-bottom: 2rem;">
    <section class="mb-4">
        <div class="card-body">  
               
               <div class="form-group row mb-2" style="height:250px;">
                <div class="col-md-12">
                  <mat-accordion style="padding: 0 10px;">
                    <mat-expansion-panel  style="height: 250px;max-height: 250px;" hideToggle expanded="true" disabled>
                      <mat-expansion-panel-header style="background-color: lightgrey;">
                        <mat-panel-title style="font-weight: 400;color: black;">
                            Options
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                        <section class="mb-4">
                          <div class="card-body">  
                                <div class="form-group row mb-2 col-md-12">
                                  <div class="col-md-3">
                                  </div> 
                                    <div class="col-md-3" style="text-align: center;">
                                        <a routerLink="/upload">  Please click to Upload CSV File  </a><br>
                                      </div>
                                      <div class="col-md-3">
                                  </div>                  
                                  </div>
                            </div> 
                          </section>                      
                            </mat-expansion-panel>       
                          </mat-accordion> 
                </div>
                
                
               </div>

               
          </div> 
</section>
</div>
