.mat-expansion-panel-header {
    height: 28px;
}

.mb-4, .my-4 {  
    margin-bottom: -1rem !important;
}

.alignCenter{
    text-align: center;
}

::ng-deep #status-sec .mat-expansion-panel-body{
    overflow-y : scroll !important;
    height: 250px !important;
}


