<div class="card" style="position: relative;margin-top: 1.5rem;margin-bottom: 2rem;">      
        <nav aria-label="breadcrumb" style="line-height: 1.0;font-weight: 500;">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Upload CSV file</li>
            </ol>
        </nav>
        
        <section class="mb-4">
           
            <div class="card-body">  
                  
                    <div class="form-group row mb-2 mt-4 col-md-12">
                      <label class="col-md-2 col-form-label" for="upload">Upload</label>
                      <div class="col-md-6">                      
                           <div class="file-field row">
                              <div class="col-md-6 mt-2">                             
                                <input type="file" (change)="onFileChange($event)" multiple="false">
                              </div>
                            </div>
                      </div>
                    </div>
                    <div class="file-field row mb-2" style="text-align: right;">
                      <div class="col-md-12 mt-2"style="margin-left: 75%;" >                             
                        <input type="text"  [(ngModel)]="search" class="form-control col-md-2 mt-2" id="search" placeholder="Search">
                      </div>                      
                    </div>
                    <table class="table table-sm table-bordered table-striped sjs-table">                      
                      <tbody>
                        <tr *ngFor="let row of data">
                          <td *ngFor="let val of row">
                            {{val}}
                          </td>
                      </tr>
                      </tbody>
                    </table>
              </div> 
    </section>
</div>
